*.asv
.idea/
eventdetection/ast/data_ast/
eventdetection/ast/runs/
eventdetection/ast/data_ast_long/
eventdetection/ast/long_file_windows/
/eventdetection/se-resnet/checkpoints/
/eventdetection/se-resnet/data/
.DS_Store
