*.asv
.idea/
eventdetection/ast/data_ast/
eventdetection/ast/runs/
eventdetection/ast/data_ast_long/
eventdetection/ast/long_file_windows/
eventdetection/se-resnet/checkpoints/
eventdetection/se-resnet/data/
localization2d/matlab/results_matlab/
data/dataset/*
data/prediction/event_localization/rgbd_pointcloud
data/prediction/event_localization/stereo_rgb_left
data/prediction/event_localization/stereo_rgb_right
data/prediction/event_localization/visualization
data/prediction/event_localization/webcam_heatmap
data/prediction/event_localization/webcam_rgb
.DS_Store
